section {
  padding: 60px 10%;
  text-align: center;
  margin-bottom: 60px;
}

h2 {
  margin-bottom: 50px;
  font-size: 38px;
  font-family: 'Winky Milky';
  font-weight: normal;
  color: var(--darkviolet);
}

/* CONTENEDOR */
.donations-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

/* COLUMNAS */
.donation-column {
  max-width: 400px;
}

/* TITULOS */
.donation-column h3 {
  margin-bottom: 20px;
  font-size: 32px;
  font-family: 'MilkyVintage';
  font-weight: normal;
  color: var(--charcoal);
}

/* CARD */
.card {
  padding: 30px;
  border-radius: 15px;
  border: 2px solid var(--cream);
  background-color: var(--white);
  font-family: 'MilkyVintage';
  font-size: 22px;
  color: var(--brown);
}

/* BOTÓN */
.card button {
  display: block;
  margin: 30px auto 0 auto;
}

.btn-primary {
  padding: 10px 25px;
  border: none;
  background-color: var(--green);
  color: var(--white);
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: var(--lightgreen);
}