section {
  padding: 60px 10%;
  text-align: center;
}

h2 {
  margin-bottom: 40px;
  font-size: 38px;
  font-family: 'Winky Milky';
  font-weight: normal;
  color: var(--darkviolet);
}

/* MINI BANNER */
.mini-banner {
  padding: 0;
  position: relative;
}

.mini-banner img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

/* INTRO */
.information-intro {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  width: 400px;
  padding: 35px;
  border-radius: 12px;
  border: 2px solid var(--cream);
  background-color: var(--white);
  font-size: 18px;
  color: var(--brown);
  font-weight: 500;
  align-content: center;
}

.card ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.card li {
  text-align: center;
}

.card a {
  font-family: 'MilkyVintage';
  font-size: 32px;
  font-weight: normal;
  text-decoration: none;
  color: var(--green);
}

.card a:hover {
  color: var(--lightgreen);
}

.information-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

/* Imagen */
.information-content .image img {
  width: 380px;
  height: 260px;
  object-fit: cover;
  border-radius: 12px;
}

/* CARDS DE AYUDA */
.information-content .info {
  max-width: 450px;
  text-align: center;
  padding: 30px;
  border-radius: 15px;
  border: 2px solid var(--cream);
  background-color: var(--white);
  font-size: 18px;
  color: var(--brown);
  font-weight: 500;
}

/* Botón */
.information-content .info button {
  display: block;
  margin: 30px auto 0 auto;
}

/* Alternar columnas */
.information-section.alt .information-content {
  flex-direction: row-reverse;
}

/* BOTONES */
.btn-primary {
  padding: 10px 25px;
  border: none;
  background-color: var(--green);
  color: var(--white);
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: var(--lightgreen);
}

/* Para que haya más espacio entre la sección de apadrinamiento y el footer */
#apadrinamiento {
  margin-bottom: 100px;
}

/* Contenedor de imágenes */
.image {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* Imágenes más pequeñas */
.image img {
  width: 180px;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
  border: 2px solid var(--cream);
}
/* Imagen normal */
.image img:first-child {
  width: 180px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

/* Imagen más bajita pero dentro del mismo bloque */
.image img:nth-child(2) {
  margin-top: 120px;
  width: 180px;
  height: 140px;   /* más bajita */
  object-fit: cover;
  border-radius: 12px;
  align-self: center; /* la centra dentro del alto total */
}

#historia {
  margin-bottom: 80px;
}
