/* You can add global styles to this file, and also import other style files */

/* Fuentes */
/* Para aplicarlas: font-family: 'Makien' + font-style: italic */
@font-face {
  font-family: 'Bulgia';
  src: url('assets/fonts/Bulgia.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cupcat';
  src: url('assets/fonts/Cupcat.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Makien';
  src: url('assets/fonts/Makien.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Makien';
  src: url('assets/fonts/Makien-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Winky Milky';
  src: url('assets/fonts/Winky-Milky.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Variables de color, se usan con var(--color) */
:root {
    /* Primary colors */
    --darkviolet: #33233d;
    --darkpurple: #7d4d73;
    --purple: #b78ab1;
    --lavender: #d0b1c3;
    --pink: #F8D9E2;

    /* Secondary colors */
    --denimblue: #326f7d;
    --charcoal: #343d38;
    --green: #6c7f61;
    --lightgreen: #7ea06b;

    /* Beige + Black and White */    
    --white: #ffffff;
    --black: #000000;
    --gray: #76726e;
    --beige: #c1b7ab;
    --cream: #e7dfd4;
    --vanilla: #f9f1ed;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

app-header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
